{% render 'partials/head.liquid' %}

{% render 'partials/nav.liquid' %}


<header class="header">
  <a class="hero-section-button back-home-button" href="">
    <img src="/assets/Icon.svg" height="16" width="17" alt="">
    TERUG NAAR HOME
  </a>

  <h1 class="hero-section-title h1">EVENTS</h1>

  <p class="hero-section-paragraph p">Spraakmakende sprekers. Inspirerende kennissessies. Events waar je écht bij wilt zijn.
  En waar je al je vakgenoten weer spreekt. Versterk je bureau met kennis en inspiratie over bureaumanagement,
  leiderschap en de laatste ontwikkelingen.
  </p>
</header>

<!-- ============ contenblok-1 ============ -->


<main>
  <article class="event-cards-parent-container">
      {% for headerEvent in headerEvents %}
        <section class="card-child-container">
          <figure class="card-image-container">
            {% if headerEvent.photo and headerEvent.photo.id %}
              <picture>
                <source media="(max-width: 360px)" type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ headerEvent.photo.id }}?format=avif&width=360">
    
                <source media="(max-width: 720px)" type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ headerEvent.photo.id }}?format=webp&width=720">
                
                <source media="(max-width: 900px)" type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ headerEvent.photo.id }}?format=avif&width=900">
                
                <source media="(min-width: 1100px)" type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ headerEvent.photo.id }}?format=webp&width=1100">
                
                <source media="(min-width: 1600px)" type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ headerEvent.photo.id }}?format=avif&width=1600">

                <img class="card-image" style="view-transition-name: event-image-{{ headerEvent.id }}" src="https://fdnd-agency.directus.app/assets/{{ headerEvent.photo.id }}"
                    alt="{{ headerEvent.title }}" width="{{ headerEvent.photo.width }}" height="{{ headerEvent.photo.height }}">
              </picture>
            {% else %}
              <img class="card-image" style="view-transition-name: event-image-{{ eventDetails.id }}" src="/assets/Image.png" alt="Afbeelding niet beschikbaar">
            {% endif %}
            <figcaption class="image-caption">
              {% if headerEvent.title %}
              {{ headerEvent.title | split: " " | slice: 0, 2 | join: " " | upcase }}
              {% else %}
                NADER BEPAALD
              {% endif %}
            </figcaption>
          </figure>

        {% assign event_date = headerEvent.date | default: '2024-01-01' %}
        <time class="event-time-stamp" datetime="{{ event_date | date: '%Y-%m-%d' }}">
          <span>
            {% if headerEvent.date %}
              {{ headerEvent.date | upcase }}
            {% else %}
              NADER BEPAALD
            {% endif %}
          </span>

          <span>
            {% if headerEvent.location %}
              / {{ headerEvent.location | upcase }}
            {% else %}
              / NADER BEPAALD
            {% endif %}
          </span>
        </time>

        <h3 class="event-card-title">
          {% if headerEvent.title %}
            {{ headerEvent.title | upcase }}
          {% else %}
            NADER BEPAALD
          {% endif %}
        </h3>

        <a class="card-button button-text" href="/events/detail-event/{{ headerEvent.id }}">
          Details
          <svg
            class="arrow-logo"
            width="17"
            height="16"
            viewBox="0 0 17 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.5 13L3.4999 7.9999L8.5 2.99979"
              stroke="#364bf7"
              stroke-width="1.5"
              stroke-miterlimit="4.62023"></path>
            <path
              d="M13.5 8L3.5 8"
              stroke="#222226"
              stroke-width="1.5"
              stroke-miterlimit="4.62023"
              stroke-linejoin="round"></path>
          </svg>
        </a>
      </section>
    {% endfor %}

  </article>


  <!-- ============ contenblok-2 ============ -->

  <!-- form voor filteren -->
  <form class="filter-form-container" method="get" action="/events">

      <div class="input-bar-container">
        <input class="input-bar input-field" type="search" id="search" placeholder="">
        <label class="label form-label" for="search">Zoeken</label>
      </div>

      <div class="select-form-container">

      <div class="select-container">
        <select class="select-button-1" aria-label="select label" name="theme" id="filter-theme">
          <option value="">THEMA'S</option>
          <option value="muziek">muziek</option>
          <option value="webinair">webinair</option>
          <option value="creatief">creatief</option>
          <option value="carriere">carriere</option>
          <option value="sport">sport</option>
        </select>
      </div>

      <div class="select-container">
        <select class="select-button-2" aria-label="select label" name="location" id="filter-location">
          <option value="">LOCATIES</option>
          <option value="Ermelo">ERMELO</option>
          <option value="Arnhem">ARNHEM</option>
          <option value="Online">ONLINE</option>
          <option value="Utrecht">UTRECHT</option>
          <option value="Eindhoven">EINDHOVEN</option>
          <option value="Austin, Texas">AUSTIN, TEXAS</option>
          <option value="null">NOG NIET BEKEND</option>
        </select>
      </div>
    </div>
    <button class="filter-button select-filter-submit-button" id="filter-submit-button" type="submit">Verzenden</button>


  </form>

  <!-- parent container voor verschillende events -->
  <section class="event-parent-container" id="event-container">

    <!-- child elementen cards -->
    {% for event in events %}
      <article class="event-card-child-container">
        <p class="caption">{{ event.title | split: " " | slice: 0, 2 | join: " " | upcase }}</p>

        <h4 class="event-card-title">
          {% if event.title %}
            {{ event.title }}
          {% else %}
            NADER BEPAALD
          {% endif %}
        </h4>

        <div class="time-location">
          <time class="event-time-stamp" datetime="{{ event.date }}">
            {% if event.date %}
              {{ event.date | upcase }}
            {% else %}
              NADER BEPAALD
            {% endif %}

            <span>
              {% if event.location %}
                / {{ event.location | upcase }}
              {% else %}
                / NADER BEPAALD
              {% endif %}
            </span>
          </time>
        </div>

        <a class="event-card-button button-text" href="/events/detail-event/{{ event.id }}">
          BUTTON
          <svg
            class="event-card-button-icon"
            width="17"
            height="16"
            viewBox="0 0 17 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.5 13L3.4999 7.9999L8.5 2.99979"
              stroke="#364bf7"
              stroke-width="1.5"
              stroke-miterlimit="4.62023"></path>
            <path
              d="M13.5 8L3.5 8"
              stroke="#222226"
              stroke-width="1.5"
              stroke-miterlimit="4.62023"
              stroke-linejoin="round"></path>
          </svg>

        </a>
      </article>
    {% endfor %}

  </section>

  <a class="more-events-button button-text">meer events laden
    <svg
      width="17"
      height="16"
      viewBox="0 0 17 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <mask
        id="ten"
        style="mask-type:alpha"
        maskUnits="userSpaceOnUse"
        x="0"
        y="0"
        width="17"
        height="16">
        <rect
          x="0.5"
          width="16"
          height="16"
          fill="#D9D9D9" />
      </mask>
      <g mask="url(#ten)">
        <path d="M8.50033 13.3337C7.01144 13.3337 5.75033 12.817 4.71699 11.7837C3.68366 10.7503 3.16699 9.48921 3.16699 8.00033C3.16699 6.51144 3.68366 5.25033 4.71699 4.21699C5.75033 3.18366 7.01144 2.66699 8.50033 2.66699C9.26699 2.66699 10.0003 2.82533 10.7003 3.14199C11.4003 3.45866 12.0003 3.91144 12.5003 4.50033V2.66699H13.8337V7.33366H9.16699V6.00033H11.967C11.6114 5.3781 11.1253 4.88921 10.5087 4.53366C9.89199 4.1781 9.22255 4.00033 8.50033 4.00033C7.38921 4.00033 6.44477 4.38921 5.66699 5.16699C4.88921 5.94477 4.50033 6.88921 4.50033 8.00033C4.50033 9.11144 4.88921 10.0559 5.66699 10.8337C6.44477 11.6114 7.38921 12.0003 8.50033 12.0003C9.35588 12.0003 10.1281 11.7559 10.817 11.267C11.5059 10.7781 11.9892 10.1337 12.267 9.33366H13.667C13.3559 10.5114 12.7225 11.4725 11.767 12.217C10.8114 12.9614 9.72255 13.3337 8.50033 13.3337Z" fill="#364BF7" />
      </g>
    </svg>

  </a>


  <!-- parent container voor event locations -->


  <article class="passed-events-parent-container">
    <h3>PLAATSGEVONDEN EVENTS:</h3>

    <!-- child elementen cards -->


    <section class="event-card-child-container">
      <p class="caption">EVENT</p>
      <h3 class="event-card-title">Ledenbijeenkomst</h3>

      <div class="time-location">
        <time class="event-time-stamp" datetime="2024-11-09">WO 09 NOV
          <span>/ AMSTERDAM</span>
        </time>
      </div>

      <p class="already-passed">heeft plaatsgevonden</p>


      <a class="event-card-button button-text" href="">
        BUTTON
        <svg
          class="event-card-button-icon"
          width="17"
          height="16"
          viewBox="0 0 17 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8.5 13L3.4999 7.9999L8.5 2.99979"
            stroke="#364bf7"
            stroke-width="1.5"
            stroke-miterlimit="4.62023" />
          <path
            d="M13.5 8L3.5 8"
            stroke="#222226"
            stroke-width="1.5"
            stroke-miterlimit="4.62023"
            stroke-linejoin="round" />
        </svg>

      </a>
    </section>

    <section class="event-card-child-container">
      <p class="caption">DDA</p>
      <h3 class="event-card-title">Ledenbijeenkomst</h3>

      <div class="time-location">
        <time class="event-time-stamp" datetime="2024-11-09">WO 09 NOV
          <span>/ AMSTERDAM</span>
        </time>
      </div>

      <p class="already-passed">heeft plaatsgevonden</p>


      <a class="event-card-button button-text" href="">
        BUTTON
        <svg
          class="event-card-button-icon"
          width="17"
          height="16"
          viewBox="0 0 17 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8.5 13L3.4999 7.9999L8.5 2.99979"
            stroke="#364bf7"
            stroke-width="1.5"
            stroke-miterlimit="4.62023" />
          <path
            d="M13.5 8L3.5 8"
            stroke="#222226"
            stroke-width="1.5"
            stroke-miterlimit="4.62023"
            stroke-linejoin="round" />
        </svg>

      </a>
    </section>

    <section class="event-card-child-container">
      <p class="caption">HACKATHON</p>
      <h3 class="event-card-title">Ledenbijeenkomst</h3>

      <div class="time-location">
        <time class="event-time-stamp" datetime="2024-11-09">WO 09 NOV
          <span>/ AMSTERDAM</span>
        </time>
      </div>

      <p class="already-passed">heeft plaatsgevonden</p>


      <a class="event-card-button button-text" href="">
        BUTTON
        <svg
          class="event-card-button-icon"
          width="17"
          height="16"
          viewBox="0 0 17 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8.5 13L3.4999 7.9999L8.5 2.99979"
            stroke="#364bf7"
            stroke-width="1.5"
            stroke-miterlimit="4.62023" />
          <path
            d="M13.5 8L3.5 8"
            stroke="#222226"
            stroke-width="1.5"
            stroke-miterlimit="4.62023"
            stroke-linejoin="round" />
        </svg>

      </a>
    </section>
  </article>


  <a class="more-events-button button-text">meer events laden
    <svg
      width="17"
      height="16"
      viewBox="0 0 17 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <mask
        id="blem"
        style="mask-type:alpha"
        maskUnits="userSpaceOnUse"
        x="0"
        y="0"
        width="17"
        height="16">
        <rect
          x="0.5"
          width="16"
          height="16"
          fill="#D9D9D9" />
      </mask>
      <g mask="url(#blem)">
        <path d="M8.50033 13.3337C7.01144 13.3337 5.75033 12.817 4.71699 11.7837C3.68366 10.7503 3.16699 9.48921 3.16699 8.00033C3.16699 6.51144 3.68366 
      5.25033 4.71699 4.21699C5.75033 3.18366 7.01144 2.66699 8.50033 2.66699C9.26699 2.66699 10.0003 2.82533 10.7003 3.14199C11.4003 3.45866 12.0003 3.91144 12.5003 4.50033V2.66699H13.8337V7.33366H9.16699V6.00033H11.967C11.6114 5.3781 11.1253 4.88921 10.5087 4.53366C9.89199 4.1781 9.22255 4.00033 8.50033 4.00033C7.38921 4.00033 6.44477 4.38921 5.66699 5.16699C4.88921 5.94477 4.50033 6.88921 4.50033 8.00033C4.50033 9.11144 4.88921 10.0559 5.66699 10.8337C6.44477 11.6114 7.38921 12.0003 8.50033 12.0003C9.35588 12.0003 10.1281 11.7559 10.817 11.267C11.5059 10.7781 11.9892 
      10.1337 12.267 9.33366H13.667C13.3559 10.5114 12.7225 11.4725 11.767 12.217C10.8114 12.9614 9.72255 13.3337 8.50033 13.3337Z" fill="#364BF7" />
      </g>
    </svg>

  </a>

  <!-- blijf om de hoogrte section -->

  <section class="keep-updated-form-container">
    <h4>Blijf op de hoogte van onze events</h4>

    <form class="signup-form">
      <input
        class="input-field"
        type="email"
        id="email"
        name="email"
        placeholder="Vul je e-mailadres in"
        required>
      <button type="submit" class="signup-button">AANMELDEN
        <svg
          class="signup-arrow-icon"
          width="17"
          height="16"
          viewBox="0 0 17 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8.5 3L13.5001 8.0001L8.5 13.0002"
            stroke="#222226"
            stroke-width="1.5"
            stroke-miterlimit="4.62023" />
          <path
            d="M3.5 8L13.5 8"
            stroke="#222226"
            stroke-width="1.5"
            stroke-miterlimit="4.62023"
            stroke-linejoin="round" />
        </svg>

      </button>
    </form>


  </section>

  <!-- den onze parteners section -->

  <section class="thank-partner-container">
    <h4>Wij bedanken onze trouwe partners</h4>

    <div class="thank-partner-button-container">
      <button type="submit" class="thank-partner-button">WORD PARTNER
        <svg
          class="signup-arrow-icon"
          width="17"
          height="16"
          viewBox="0 0 17 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8.5 3L13.5001 8.0001L8.5 13.0002"
            stroke="#222226"
            stroke-width="1.5"
            stroke-miterlimit="4.62023" />
          <path
            d="M3.5 8L13.5 8"
            stroke="#222226"
            stroke-width="1.5"
            stroke-miterlimit="4.62023"
            stroke-linejoin="round" />
        </svg>

      </button>
    </div>
  </section>


</main>


{% render 'partials/foot.liquid' %}